In [8]:
# ============================================================
# ×©×œ×‘ 1 ×•-2: Data Exploration & Cleaning
# Crime Analysis Project - Chicago Crime Data
# ============================================================

import pandas as pd
import numpy as np
import os

print("=" * 60)
print("×©×œ×‘ 1: ×˜×¢×™× ×ª ×”× ×ª×•× ×™×")
print("=" * 60)

# ×‘×“×™×§×” ×©×”×§×•×‘×¥ ×§×™×™×
filename = "Chicago_Crimes_2012_to_2017.csv"
if os.path.exists(filename):
    print(f"âœ“ ×”×§×•×‘×¥ × ××¦×: {filename}")
    print("×˜×•×¢×Ÿ × ×ª×•× ×™×... (×–×” ×™×›×•×œ ×œ×§×—×ª 1-2 ×“×§×•×ª)")
    
    # ×˜×¢×™× ×ª ×”× ×ª×•× ×™×
    df = pd.read_csv(filename)
    
    print(f"\nğŸ‰ ×”× ×ª×•× ×™× × ×˜×¢× ×• ×‘×”×¦×œ×—×”!")
    print(f"××¡×¤×¨ ×©×•×¨×•×ª: {len(df):,}")
    print(f"××¡×¤×¨ ×¢××•×“×•×ª: {len(df.columns)}")
else:
    print(f"âŒ ×”×§×•×‘×¥ ×œ× × ××¦×: {filename}")
    print("×× × ×•×“× ×©×”×§×•×‘×¥ × ××¦× ×‘×ª×™×§×™×™×ª ×”×¤×¨×•×™×§×˜!")

print("\n" + "=" * 60)
print("×©×œ×‘ 2: Data Cleaning")
print("=" * 60)

# ×”××¨×ª ×”×ª××¨×™×š
print("\n1. ×”××¨×ª ×¢××•×“×ª ×”×ª××¨×™×š...")
df['Date'] = pd.to_datetime(df['Date'], format='%m/%d/%Y %I:%M:%S %p')
print("âœ“ ×”×ª××¨×™×›×™× ×”×•××¨×• ×‘×”×¦×œ×—×”!")

# ×™×¦×™×¨×ª ×¢××•×“×•×ª × ×•×¡×¤×•×ª
print("\n2. ×™×¦×™×¨×ª ×¢××•×“×•×ª ×–××Ÿ...")
df['Month'] = df['Date'].dt.month
df['Day_of_Week'] = df['Date'].dt.dayofweek
df['Day_Name'] = df['Date'].dt.day_name()
df['Hour'] = df['Date'].dt.hour
df['Month_Name'] = df['Date'].dt.month_name()
print("âœ“ × ×•×¦×¨×• 5 ×¢××•×“×•×ª ×—×“×©×•×ª!")

# ×˜×™×¤×•×œ ×‘×¢×¨×›×™× ×—×¡×¨×™×
print("\n3. ×˜×™×¤×•×œ ×‘×¢×¨×›×™× ×—×¡×¨×™×...")
before = len(df)
df_clean = df.dropna(subset=['Latitude', 'Longitude']).copy()
df_clean['Location Description'] = df_clean['Location Description'].fillna('UNKNOWN')
after = len(df_clean)
removed = before - after
print(f"âœ“ × ××—×§×• {removed:,} ×©×•×¨×•×ª ×œ×œ× GPS ({(removed/before)*100:.2f}%)")
print(f"âœ“ × ×©××¨×• {after:,} ×©×•×¨×•×ª × ×§×™×•×ª")

# ×©××™×¨×ª ×”×“××˜×” ×”× ×§×™
print("\n4. ×©××™×¨×ª ×”×“××˜×” ×”× ×§×™...")
output_file = "Chicago_Crimes_Clean.csv"
df_clean.to_csv(output_file, index=False)
print(f"âœ“ ×”×§×•×‘×¥ × ×©××¨: {output_file}")

# ×¡×˜×˜×™×¡×˜×™×§×•×ª ×¡×•×¤×™×•×ª
print("\n" + "=" * 60)
print("×¡×™×›×•×")
print("=" * 60)
print(f"âœ“ ×“××˜×” × ×§×™: {len(df_clean):,} ×©×•×¨×•×ª, {len(df_clean.columns)} ×¢××•×“×•×ª")
print(f"âœ“ ×˜×•×•×— ×©× ×™×: {df_clean['Year'].min()}-{df_clean['Year'].max()}")
print(f"âœ“ ×¡×•×’×™ ×¤×©×™×¢×”: {df_clean['Primary Type'].nunique()}")
print(f"âœ“ ××—×•×– ××¢×¦×¨×™×: {(df_clean['Arrest'].sum() / len(df_clean)) * 100:.2f}%")

print("\nğŸ¯ Top 5 ×¡×•×’×™ ×¤×©×™×¢×”:")
print(df_clean['Primary Type'].value_counts().head(5))

print("\nâœ… ×©×œ×‘ 1 ×•-2 ×”×•×©×œ××• ×‘×”×¦×œ×—×”!")

============================================================
×©×œ×‘ 1: ×˜×¢×™× ×ª ×”× ×ª×•× ×™×
============================================================
âœ“ ×”×§×•×‘×¥ × ××¦×: Chicago_Crimes_2012_to_2017.csv
×˜×•×¢×Ÿ × ×ª×•× ×™×... (×–×” ×™×›×•×œ ×œ×§×—×ª 1-2 ×“×§×•×ª)

ğŸ‰ ×”× ×ª×•× ×™× × ×˜×¢× ×• ×‘×”×¦×œ×—×”!
××¡×¤×¨ ×©×•×¨×•×ª: 1,456,714
××¡×¤×¨ ×¢××•×“×•×ª: 23

============================================================
×©×œ×‘ 2: Data Cleaning
============================================================

1. ×”××¨×ª ×¢××•×“×ª ×”×ª××¨×™×š...
âœ“ ×”×ª××¨×™×›×™× ×”×•××¨×• ×‘×”×¦×œ×—×”!

2. ×™×¦×™×¨×ª ×¢××•×“×•×ª ×–××Ÿ...
âœ“ × ×•×¦×¨×• 5 ×¢××•×“×•×ª ×—×“×©×•×ª!

3. ×˜×™×¤×•×œ ×‘×¢×¨×›×™× ×—×¡×¨×™×...
âœ“ × ××—×§×• 37,083 ×©×•×¨×•×ª ×œ×œ× GPS (2.55%)
âœ“ × ×©××¨×• 1,419,631 ×©×•×¨×•×ª × ×§×™×•×ª

4. ×©××™×¨×ª ×”×“××˜×” ×”× ×§×™...
âœ“ ×”×§×•×‘×¥ × ×©××¨: Chicago_Crimes_Clean.csv

============================================================
×¡×™×›×•×
============================================================
âœ“ ×“××˜×” × ×§×™: 1,419,631 ×©×•×¨×•×ª, 28 ×¢××•×“×•×ª
âœ“ ×˜×•×•×— ×©× ×™×: 2012-2017
âœ“ ×¡×•×’×™ ×¤×©×™×¢×”: 33
âœ“ ××—×•×– ××¢×¦×¨×™×: 26.14%

ğŸ¯ Top 5 ×¡×•×’×™ ×¤×©×™×¢×”:
Primary Type
THEFT              322433
BATTERY            258945
CRIMINAL DAMAGE    152817
NARCOTICS          131184
ASSAULT             89512
Name: count, dtype: int64

âœ… ×©×œ×‘ 1 ×•-2 ×”×•×©×œ××• ×‘×”×¦×œ×—×”!

In [10]:
# ×‘×“×™×§×” ××”×™×¨×” ×©×”×“××˜×” ×¢×•×‘×“
print("=== ×‘×“×™×§×” ×¡×•×¤×™×ª ===\n")
print("5 ×©×•×¨×•×ª ×¨××©×•× ×•×ª:")
df_clean[['Date', 'Primary Type', 'Location Description', 'Arrest', 'Hour', 'Day_Name']].head()

=== ×‘×“×™×§×” ×¡×•×¤×™×ª ===

5 ×©×•×¨×•×ª ×¨××©×•× ×•×ª:

,Date,Primary Type,Location Description,Arrest,Hour,Day_Name
0,2016-05-03 23:40:00,BATTERY,APARTMENT,True,23,Tuesday
1,2016-05-03 21:40:00,BATTERY,RESIDENCE,False,21,Tuesday
2,2016-05-03 23:31:00,PUBLIC PEACE VIOLATION,STREET,False,23,Tuesday
3,2016-05-03 22:10:00,BATTERY,SIDEWALK,False,22,Tuesday
4,2016-05-03 22:00:00,THEFT,RESIDENCE,False,22,Tuesday

In [11]:
# ============================================================
# ×©×œ×‘ 3: ×˜×¢×™× ×ª × ×ª×•× ×™× ×œ-PostgreSQL
# ============================================================

import psycopg2
from sqlalchemy import create_engine

print("=" * 60)
print("×©×œ×‘ 3: ×˜×¢×™× ×ª × ×ª×•× ×™× ×œ-PostgreSQL")
print("=" * 60)

# ×™×¦×™×¨×ª ×—×™×‘×•×¨ ×œ××¡×“ ×”× ×ª×•× ×™×
print("\n1. ××ª×—×‘×¨ ×œ××¡×“ ×”× ×ª×•× ×™×...")

# ×”×’×“×¨×ª ×¤×¨×˜×™ ×”×—×™×‘×•×¨
db_params = {
    'host': 'localhost',
    'port': 5433,
    'database': 'crime_analysis',
    'user': 'postgres',
    'password': '12345678'
}

# ×™×¦×™×¨×ª engine ×œ-SQLAlchemy (×–×” ×¢×•×–×¨ ×œ×”×¢×œ×•×ª DataFrame ×™×©×™×¨×•×ª)
engine = create_engine(f"postgresql://{db_params['user']}:{db_params['password']}@{db_params['host']}:{db_params['port']}/{db_params['database']}")

print("âœ“ ×—×™×‘×•×¨ ×”×•×§× ×‘×”×¦×œ×—×”!")

# ×˜×¢×™× ×ª ×”× ×ª×•× ×™× ×œ××¡×“ ×”× ×ª×•× ×™×
print("\n2. ××¢×œ×” × ×ª×•× ×™× ×œ××¡×“ ×”× ×ª×•× ×™×...")
print("   (×–×” ×™×™×§×— ×›××” ×“×§×•×ª - ×× ×—× ×• ××¢×œ×™× 1.4 ××™×œ×™×•×Ÿ ×©×•×¨×•×ª!)")

# × ×˜×¢×Ÿ ×¨×§ ×“×’×™××” ×§×˜× ×” ×ª×—×™×œ×” (10,000 ×©×•×¨×•×ª) ×œ×‘×“×™×§×”
sample_size = 10000
df_sample = df_clean.head(sample_size)

# ××™×¤×•×™ ×©××•×ª ×¢××•×“×•×ª ×œ-SQL
df_sample_renamed = df_sample.rename(columns={
    'Unnamed: 0': 'original_id',
    'ID': 'chicago_id',
    'Case Number': 'case_number',
    'Date': 'date_occurred',
    'Block': 'block',
    'IUCR': 'iucr',
    'Primary Type': 'primary_type',
    'Description': 'description',
    'Location Description': 'location_description',
    'Arrest': 'arrest',
    'Domestic': 'domestic',
    'Beat': 'beat',
    'District': 'district',
    'Ward': 'ward',
    'Community Area': 'community_area',
    'FBI Code': 'fbi_code',
    'X Coordinate': 'x_coordinate',
    'Y Coordinate': 'y_coordinate',
    'Year': 'year',
    'Latitude': 'latitude',
    'Longitude': 'longitude',
    'Month': 'month',
    'Day_of_Week': 'day_of_week',
    'Day_Name': 'day_name',
    'Hour': 'hour',
    'Month_Name': 'month_name'
})

# ×‘×—×™×¨×ª ×”×¢××•×“×•×ª ×”×¨×œ×•×•× ×˜×™×•×ª
columns_to_upload = [
    'case_number', 'date_occurred', 'block', 'iucr', 'primary_type',
    'description', 'location_description', 'arrest', 'domestic',
    'beat', 'district', 'ward', 'community_area', 'fbi_code',
    'x_coordinate', 'y_coordinate', 'year', 'latitude', 'longitude',
    'month', 'day_of_week', 'day_name', 'hour', 'month_name'
]

df_to_upload = df_sample_renamed[columns_to_upload]

# ×”×¢×œ××” ×œ××¡×“ ×”× ×ª×•× ×™×
df_to_upload.to_sql('crimes', engine, if_exists='append', index=False)

print(f"âœ“ ×”×•×¢×œ×• {len(df_to_upload):,} ×©×•×¨×•×ª ×œ××¡×“ ×”× ×ª×•× ×™×!")

print("\n" + "=" * 60)
print("âœ… ×©×œ×‘ 3 ×”×•×©×œ× ×‘×”×¦×œ×—×”!")
print("=" * 60)

============================================================
×©×œ×‘ 3: ×˜×¢×™× ×ª × ×ª×•× ×™× ×œ-PostgreSQL
============================================================

1. ××ª×—×‘×¨ ×œ××¡×“ ×”× ×ª×•× ×™×...
âœ“ ×—×™×‘×•×¨ ×”×•×§× ×‘×”×¦×œ×—×”!

2. ××¢×œ×” × ×ª×•× ×™× ×œ××¡×“ ×”× ×ª×•× ×™×...
   (×–×” ×™×™×§×— ×›××” ×“×§×•×ª - ×× ×—× ×• ××¢×œ×™× 1.4 ××™×œ×™×•×Ÿ ×©×•×¨×•×ª!)
âœ“ ×”×•×¢×œ×• 10,000 ×©×•×¨×•×ª ×œ××¡×“ ×”× ×ª×•× ×™×!

============================================================
âœ… ×©×œ×‘ 3 ×”×•×©×œ× ×‘×”×¦×œ×—×”!
============================================================

In [12]:
# ×‘×“×™×§×” ×©×”× ×ª×•× ×™× × ×˜×¢× ×• ×‘×”×¦×œ×—×”
print("=== ×‘×“×™×§×ª × ×ª×•× ×™× ×‘××¡×“ ×”× ×ª×•× ×™× ===\n")

# ×—×™×‘×•×¨ ×œ××¡×“ ×”× ×ª×•× ×™×
conn = psycopg2.connect(**db_params)
cursor = conn.cursor()

# ×©××™×œ×ª×ª SQL ×¤×©×•×˜×” - ×›××” ×©×•×¨×•×ª ×™×©?
cursor.execute("SELECT COUNT(*) FROM crimes;")
count = cursor.fetchone()[0]
print(f"âœ“ ××¡×¤×¨ ×©×•×¨×•×ª ×‘××¡×“ ×”× ×ª×•× ×™×: {count:,}")

# 5 ×”×©×•×¨×•×ª ×”×¨××©×•× ×•×ª
cursor.execute("SELECT primary_type, date_occurred, location_description, arrest FROM crimes LIMIT 5;")
rows = cursor.fetchall()

print("\n5 ×©×•×¨×•×ª ×¨××©×•× ×•×ª:")
print("-" * 80)
for row in rows:
    print(f"×¡×•×’: {row[0]:<30} ×ª××¨×™×š: {row[1]}  ××™×§×•×: {row[2]:<20} ××¢×¦×¨: {row[3]}")

# ×¡×’×™×¨×ª ×”×—×™×‘×•×¨
cursor.close()
conn.close()

print("\nâœ… ×”× ×ª×•× ×™× ×‘××¡×“ ×”× ×ª×•× ×™×!")

=== ×‘×“×™×§×ª × ×ª×•× ×™× ×‘××¡×“ ×”× ×ª×•× ×™× ===

âœ“ ××¡×¤×¨ ×©×•×¨×•×ª ×‘××¡×“ ×”× ×ª×•× ×™×: 30,000

5 ×©×•×¨×•×ª ×¨××©×•× ×•×ª:
--------------------------------------------------------------------------------
×¡×•×’: BATTERY                        ×ª××¨×™×š: 2016-05-03 23:40:00  ××™×§×•×: APARTMENT            ××¢×¦×¨: True
×¡×•×’: BATTERY                        ×ª××¨×™×š: 2016-05-03 21:40:00  ××™×§×•×: RESIDENCE            ××¢×¦×¨: False
×¡×•×’: PUBLIC PEACE VIOLATION         ×ª××¨×™×š: 2016-05-03 23:31:00  ××™×§×•×: STREET               ××¢×¦×¨: False
×¡×•×’: BATTERY                        ×ª××¨×™×š: 2016-05-03 22:10:00  ××™×§×•×: SIDEWALK             ××¢×¦×¨: False
×¡×•×’: THEFT                          ×ª××¨×™×š: 2016-05-03 22:00:00  ××™×§×•×: RESIDENCE            ××¢×¦×¨: False

âœ… ×”× ×ª×•× ×™× ×‘××¡×“ ×”× ×ª×•× ×™×!

In [7]:
# ============================================================
# ×©×œ×‘ 4: Basic SQL Queries - ×©××™×œ×ª×•×ª ×‘×¡×™×¡×™×•×ª
# ============================================================

import psycopg2
import pandas as pd

print("=" * 60)
print("×©×œ×‘ 4: Basic SQL Queries")
print("=" * 60)

# ×—×™×‘×•×¨ ×œ××¡×“ ×”× ×ª×•× ×™×
conn = psycopg2.connect(**db_params)

print("\n1ï¸âƒ£ ×©××™×œ×ª×” 1: ×›××” ××™×¨×•×¢×™ ×¤×©×™×¢×” ×™×© ×‘××¡×“ ×”× ×ª×•× ×™×?")
print("-" * 60)

query1 = "SELECT COUNT(*) as total_crimes FROM crimes;"
result1 = pd.read_sql(query1, conn)
print(f"âœ“ ×¡×š ×”×›×œ ××™×¨×•×¢×™×: {result1['total_crimes'][0]:,}")

print("\n2ï¸âƒ£ ×©××™×œ×ª×” 2: ××”× 10 ×¡×•×’×™ ×”×¤×©×™×¢×” ×”× ×¤×•×¦×™× ×‘×™×•×ª×¨?")
print("-" * 60)

query2 = """
SELECT primary_type, COUNT(*) as count
FROM crimes
GROUP BY primary_type
ORDER BY count DESC
LIMIT 10;
"""
result2 = pd.read_sql(query2, conn)
print(result2.to_string(index=False))

print("\n3ï¸âƒ£ ×©××™×œ×ª×” 3: ×›××” ××™×¨×•×¢×™× ×™×© ×‘×›×œ ×©× ×”?")
print("-" * 60)

query3 = """
SELECT year, COUNT(*) as count
FROM crimes
GROUP BY year
ORDER BY year;
"""
result3 = pd.read_sql(query3, conn)
print(result3.to_string(index=False))

print("\n4ï¸âƒ£ ×©××™×œ×ª×” 4: ××” ××—×•×– ×”××¢×¦×¨×™×?")
print("-" * 60)

query4 = """
SELECT 
    COUNT(*) as total_crimes,
    SUM(CASE WHEN arrest = TRUE THEN 1 ELSE 0 END) as arrests,
    ROUND(100.0 * SUM(CASE WHEN arrest = TRUE THEN 1 ELSE 0 END) / COUNT(*), 2) as arrest_percentage
FROM crimes;
"""
result4 = pd.read_sql(query4, conn)
print(f"âœ“ ×¡×š ×”×›×œ ××™×¨×•×¢×™×: {result4['total_crimes'][0]:,}")
print(f"âœ“ ××¢×¦×¨×™×: {result4['arrests'][0]:,}")
print(f"âœ“ ××—×•×– ××¢×¦×¨×™×: {result4['arrest_percentage'][0]}%")

# ×¡×’×™×¨×ª ×”×—×™×‘×•×¨
conn.close()

print("\n" + "=" * 60)
print("âœ… ×©×œ×‘ 4 ×”×•×©×œ× ×‘×”×¦×œ×—×”!")
print("=" * 60)

============================================================
×©×œ×‘ 4: Basic SQL Queries
============================================================

1ï¸âƒ£ ×©××™×œ×ª×” 1: ×›××” ××™×¨×•×¢×™ ×¤×©×™×¢×” ×™×© ×‘××¡×“ ×”× ×ª×•× ×™×?
------------------------------------------------------------
âœ“ ×¡×š ×”×›×œ ××™×¨×•×¢×™×: 20,000

2ï¸âƒ£ ×©××™×œ×ª×” 2: ××”× 10 ×¡×•×’×™ ×”×¤×©×™×¢×” ×”× ×¤×•×¦×™× ×‘×™×•×ª×¨?
------------------------------------------------------------
       primary_type  count
              THEFT   4132
            BATTERY   3946
    CRIMINAL DAMAGE   2290
          NARCOTICS   1790
            ASSAULT   1472
      OTHER OFFENSE   1180
 DECEPTIVE PRACTICE   1080
           BURGLARY    988
            ROBBERY    808
MOTOR VEHICLE THEFT    716

3ï¸âƒ£ ×©××™×œ×ª×” 3: ×›××” ××™×¨×•×¢×™× ×™×© ×‘×›×œ ×©× ×”?
------------------------------------------------------------
 year  count
 2012      2
 2013     10
 2014     10
 2015   1126
 2016  18852

4ï¸âƒ£ ×©××™×œ×ª×” 4: ××” ××—×•×– ×”××¢×¦×¨×™×?
------------------------------------------------------------
âœ“ ×¡×š ×”×›×œ ××™×¨×•×¢×™×: 20,000
âœ“ ××¢×¦×¨×™×: 4,836
âœ“ ××—×•×– ××¢×¦×¨×™×: 24.18%

============================================================
âœ… ×©×œ×‘ 4 ×”×•×©×œ× ×‘×”×¦×œ×—×”!
============================================================

C:\Users\shiri\AppData\Local\Temp\ipykernel_11532\4252715789.py:19: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result1 = pd.read_sql(query1, conn)
C:\Users\shiri\AppData\Local\Temp\ipykernel_11532\4252715789.py:32: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result2 = pd.read_sql(query2, conn)
C:\Users\shiri\AppData\Local\Temp\ipykernel_11532\4252715789.py:44: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result3 = pd.read_sql(query3, conn)
C:\Users\shiri\AppData\Local\Temp\ipykernel_11532\4252715789.py:57: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result4 = pd.read_sql(query4, conn)

In [13]:
# ============================================================
# ×©××™×œ×ª×•×ª ××ª×§×“××•×ª ×™×•×ª×¨
# ============================================================

print("=" * 60)
print("×©××™×œ×ª×•×ª ××ª×§×“××•×ª")
print("=" * 60)

conn = psycopg2.connect(**db_params)

print("\n5ï¸âƒ£ ×©××™×œ×ª×” 5: ×‘××™×–×” ×™×•× ×‘×©×‘×•×¢ ×™×© ×”×›×™ ×”×¨×‘×” ×¤×©×™×¢×”?")
print("-" * 60)

query5 = """
SELECT day_name, COUNT(*) as count
FROM crimes
GROUP BY day_name
ORDER BY count DESC;
"""
result5 = pd.read_sql(query5, conn)
print(result5.to_string(index=False))

print("\n6ï¸âƒ£ ×©××™×œ×ª×” 6: ×‘××™×–×• ×©×¢×” ×‘×™×•× ×™×© ×”×›×™ ×”×¨×‘×” ×¤×©×™×¢×”?")
print("-" * 60)

query6 = """
SELECT hour, COUNT(*) as count
FROM crimes
GROUP BY hour
ORDER BY count DESC
LIMIT 10;
"""
result6 = pd.read_sql(query6, conn)
print(result6.to_string(index=False))

print("\n7ï¸âƒ£ ×©××™×œ×ª×” 7: ××”× 5 ×”××™×§×•××™× ×”×›×™ ××¡×•×›× ×™×?")
print("-" * 60)

query7 = """
SELECT location_description, COUNT(*) as count
FROM crimes
GROUP BY location_description
ORDER BY count DESC
LIMIT 5;
"""
result7 = pd.read_sql(query7, conn)
print(result7.to_string(index=False))

print("\n8ï¸âƒ£ ×©××™×œ×ª×” 8: ××™×–×” ×¡×•×’×™ ×¤×©×™×¢×” ××¡×ª×™×™××™× ×‘××¢×¦×¨ ×”×›×™ ×”×¨×‘×”?")
print("-" * 60)

query8 = """
SELECT 
    primary_type,
    COUNT(*) as total,
    SUM(CASE WHEN arrest = TRUE THEN 1 ELSE 0 END) as arrests,
    ROUND(100.0 * SUM(CASE WHEN arrest = TRUE THEN 1 ELSE 0 END) / COUNT(*), 2) as arrest_rate
FROM crimes
GROUP BY primary_type
HAVING COUNT(*) > 100
ORDER BY arrest_rate DESC
LIMIT 10;
"""
result8 = pd.read_sql(query8, conn)
print(result8.to_string(index=False))

conn.close()

print("\n" + "=" * 60)
print("âœ… ×©××™×œ×ª×•×ª ××ª×§×“××•×ª ×”×•×©×œ××•!")
print("=" * 60)

============================================================
×©××™×œ×ª×•×ª ××ª×§×“××•×ª
============================================================

5ï¸âƒ£ ×©××™×œ×ª×” 5: ×‘××™×–×” ×™×•× ×‘×©×‘×•×¢ ×™×© ×”×›×™ ×”×¨×‘×” ×¤×©×™×¢×”?
------------------------------------------------------------
 day_name  count
   Friday   6324
Wednesday   4518
 Saturday   4428
   Sunday   4410
 Thursday   4389
  Tuesday   3198
   Monday   2733

6ï¸âƒ£ ×©××™×œ×ª×” 6: ×‘××™×–×• ×©×¢×” ×‘×™×•× ×™×© ×”×›×™ ×”×¨×‘×” ×¤×©×™×¢×”?
------------------------------------------------------------
 hour  count
   19   1806
   16   1797
   18   1797
   21   1686
   17   1653
   22   1620
   15   1608
   11   1572
   20   1530
   14   1500

7ï¸âƒ£ ×©××™×œ×ª×” 7: ××”× 5 ×”××™×§×•××™× ×”×›×™ ××¡×•×›× ×™×?
------------------------------------------------------------
location_description  count
              STREET   6819
           RESIDENCE   4749
           APARTMENT   3774
            SIDEWALK   2889
               OTHER   1077

8ï¸âƒ£ ×©××™×œ×ª×” 8: ××™×–×” ×¡×•×’×™ ×¤×©×™×¢×” ××¡×ª×™×™××™× ×‘××¢×¦×¨ ×”×›×™ ×”×¨×‘×”?
------------------------------------------------------------
                    primary_type  total  arrests  arrest_rate
                       NARCOTICS   2685     2685       100.00
                    PROSTITUTION    108      108       100.00
INTERFERENCE WITH PUBLIC OFFICER    102       99        97.06
               CRIMINAL TRESPASS    744      501        67.34
          PUBLIC PEACE VIOLATION    180      120        66.67
               WEAPONS VIOLATION    429      267        62.24
                        HOMICIDE    120       27        22.50
                         BATTERY   5919     1203        20.32
                   OTHER OFFENSE   1770      357        20.17
                         ASSAULT   2208      396        17.93

============================================================
âœ… ×©××™×œ×ª×•×ª ××ª×§×“××•×ª ×”×•×©×œ××•!
============================================================

C:\Users\shiri\AppData\Local\Temp\ipykernel_11532\837915789.py:20: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result5 = pd.read_sql(query5, conn)
C:\Users\shiri\AppData\Local\Temp\ipykernel_11532\837915789.py:33: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result6 = pd.read_sql(query6, conn)
C:\Users\shiri\AppData\Local\Temp\ipykernel_11532\837915789.py:46: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result7 = pd.read_sql(query7, conn)
C:\Users\shiri\AppData\Local\Temp\ipykernel_11532\837915789.py:64: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result8 = pd.read_sql(query8, conn)